<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Founder Butterfly</title>

<!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="css/freelancer.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
      type="text/css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<style type="text/css">

    @import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

    body {
        background-color: rgb(229, 229, 229);
        padding-top: 60px;
        padding-bottom: 30px;
    }

    .panel-google-plus {
        position: relative;
        border-radius: 0px;
        border: 1px solid rgb(216, 216, 216);
        font-family: 'Roboto', sans-serif;
    }

    .panel-google-plus > .dropdown {
        position: absolute;
        top: 5px;
        right: 15px;
    }

    .panel-google-plus > .dropdown > span > span {
        font-size: 10px;
    }

    .panel-google-plus > .dropdown > .dropdown-menu {
        left: initial;
        right: 0px;
        border-radius: 2px;
    }

    .panel-google-plus > .panel-google-plus-tags {
        position: absolute;
        top: 35px;
        right: -3px;
    }

    .panel-google-plus > .panel-google-plus-tags > ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    .panel-google-plus > .panel-google-plus-tags > ul:hover {
        box-shadow: 0px 0px 3px rgb(0, 0, 0);
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    }

    .panel-google-plus > .panel-google-plus-tags > ul > li {
        display: block;
        right: 0px;
        width: 0px;
        padding: 5px 0px 5px 0px;
        background-color: rgb(245, 245, 245);
        font-size: 12px;
        overflow: hidden;
    }

    .panel-google-plus > .panel-google-plus-tags > ul > li::after {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        border-right: 3px solid rgb(66, 127, 237);
    }

    .panel-google-plus > .panel-google-plus-tags > ul:hover > li,
    .panel-google-plus > .panel-google-plus-tags > ul > li:first-child {
        padding: 5px 15px 5px 10px;
        width: auto;
        cursor: pointer;
        margin-left: auto;
    }

    .panel-google-plus > .panel-google-plus-tags > ul:hover > li {
        background-color: rgb(255, 255, 255);
    }

    .panel-google-plus > .panel-google-plus-tags > ul > li:hover {
        background-color: rgb(66, 127, 237);
        color: rgb(255, 255, 255);
    }

    .panel-google-plus > .panel-heading,
    .panel-google-plus > .panel-footer {
        background-color: rgb(255, 255, 255);
        border-width: 0px;
    }

    .panel-google-plus > .panel-heading {
        margin-top: 20px;
        padding-bottom: 5px;
    }

    .panel-google-plus > .panel-heading > img {
        margin-right: 15px;
    }

    .panel-google-plus > .panel-heading > h3 {
        margin: 0px;
        font-size: 14px;
        font-weight: 700;
    }

    .panel-google-plus > .panel-heading > h5 {
        color: rgb(153, 153, 153);
        font-size: 12px;
        font-weight: 400;
    }

    .panel-google-plus > .panel-body {
        padding-top: 5px;
        font-size: 13px;
    }

    .panel-google-plus > .panel-body > .panel-google-plus-image {
        display: block;
        text-align: center;
        background-color: rgb(245, 245, 245);
        border: 1px solid rgb(217, 217, 217);
    }

    .panel-google-plus > .panel-body > .panel-google-plus-image > img {
        max-width: 100%;
    }

    .panel-google-plus > .panel-footer {
        font-size: 14px;
        font-weight: 700;
        min-height: 54px;
    }

    .panel-google-plus > .panel-footer > .btn {
        float: left;
        margin-right: 8px;
    }

    .panel-google-plus > .panel-footer > .input-placeholder {
        display: block;
        margin-left: 98px;
        color: rgb(153, 153, 153);
        font-size: 12px;
        font-weight: 400;
        padding: 8px 6px 7px;
        border: 1px solid rgb(217, 217, 217);
        border-radius: 2px;
        box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
    }

    .panel-google-plus.panel-google-plus-show-comment > .panel-footer > .input-placeholder {
        display: none;
    }

    .panel-google-plus > .panel-google-plus-comment {
        display: none;
        padding: 10px 20px 15px;
        border-top: 1px solid rgb(229, 229, 229);
        background-color: rgb(245, 245, 245);
    }

    .panel-google-plus.panel-google-plus-show-comment > .panel-google-plus-comment {
        display: block;
    }

    /*.panel-google-plus > .panel-google-plus-comment > img {
        float: left;
    }*/
    .panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea {
        float: right;
        width: calc(100% - 56px);
    }

    .panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > textarea {
        display: block;
        /*margin-left: 60px;
        width: calc(100% - 56px);*/
        width: 100%;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(217, 217, 217);
        box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
        resize: vertical;
    }

    .panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
        margin-top: 10px;
        margin-right: 8px;
        width: 100%;
    }

    @media (min-width: 992px) {
        .panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
            width: auto;
        }
    }

    .panel-google-plus .btn {
        border-radius: 3px;
    }

    .panel-google-plus .btn-default {
        border: 1px solid rgb(217, 217, 217);
        box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
    }

    .panel-google-plus .btn-default:hover,
    .panel-google-plus .btn-default:focus,
    .panel-google-plus .btn-default:active {
        background-color: rgb(255, 255, 255);
        border-color: rgb(0, 0, 0);
    }
</style>
>

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top">Founder Butterfly</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href=".portfolio">Business You Want To Start</a>
                </li>
                <li class="page-scroll">
                    <a href="#about">About</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<!-- Contact Section -->
<section id="contact">
<div class="container">

<% if (user == undefined || user == null) { %>

<div class="row">
    <div class="well main col-lg-6 col-lg-offset-3">


        <h5>Please Log In, or <a href="#">Sign Up</a></h5>

        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                <a href="/oauth/linkedin" class="btn btn-primary btn-block">
                    <i class=" fa fa-linkedin-square fa-lg"></i> Connect with Linkedin</a>
            </div>
        </div>
        <div class="login-or">
            <hr class="hr-or">
            <span class="span-or">or</span>
        </div>

        <form role="form">
            <div class="form-group">
                <label for="inputUsernameEmail">Username or email</label>
                <input type="text" class="form-control" id="inputUsernameEmail">
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword">
            </div>
            <span id="error"></span>
            <button type="submit" class="btn btn btn-primary pull-right">
                Log In
            </button>
        </form>

    </div>
</div>

<% } else { %>

<div class="row">
    <div class="col-lg-12 text-center">
        <h2>Mentor's Dashboard</h2>
        <hr class="star-primary"></hr>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-2 text-center">
                    <figure>
                        <!--
                        <img src="http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png"
                             alt="" class="img-circle img-responsive">-->
                        <img src="https://media.licdn.com/mpr/mprx/0__RFqJafEXnIRaefG5HbVJfhHGvVRER_GkwMM07-Q73U4aVAu6IQ4gLs7d2l"
                             alt="" class="img-circle img-responsive" style="width:200px">
                        <figcaption class="ratings">
                            <p>Ratings
                                <a href="#">
                                    <span class="fa fa-star"></span>
                                </a>
                                <a href="#">
                                    <span class="fa fa-star"></span>
                                </a>
                                <a href="#">
                                    <span class="fa fa-star"></span>
                                </a>
                                <a href="#">
                                    <span class="fa fa-star"></span>
                                </a>
                                <a href="#">
                                    <span class="fa fa-star-o"></span>
                                </a>
                            </p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-xs-12 col-sm-10">
                    <h3><%=user.firstName%> <%=user.lastName%></h3>

                    <p><strong>Industry: </strong> <%=user.industry%></p>

                    <p><%=user.headline%>
                    </p>


                    <p><strong>Skills: </strong>
                        <% for (var i=0; i <user.skills.length; i++) {%>
                        <span class="tags"><%=user.skills[i]%></span>
                        <%}%>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 divider text-center">
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong>20</strong></h2>

                    <p>
                        <small>Pending</small>
                    </p>

                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong>20</strong></h2>

                    <p>
                        <small>In Progress</small>
                    </p>

                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong>20</strong></h2>

                    <p>
                        <small>Completed</small>
                    </p>
                    <!-- <div class="btn-group dropup btn-block">
                        <button type="button" class="btn btn-primary"><span class="fa fa-gear"></span> Options</button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu text-left" role="menu">
                            <li><a href="#"><span class="fa fa-envelope pull-right"></span> Send an email </a></li>
                            <li><a href="#"><span class="fa fa-list pull-right"></span> Add or remove from a list </a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#"><span class="fa fa-warning pull-right"></span>Report this user for spam</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#" class="btn disabled" role="button"> Unfollow </a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
<div class="col-lg-4">

<div class="timeline-centered">

<article class="timeline-entry">

    <div class="timeline-entry-inner">

        <div class="timeline-icon bg-success">
            <i class="entypo-feather"></i>
        </div>

        <div class="timeline-label">
            <h2><a href="#">Art Ramadani</a> <span>posted a status update</span></h2>

            <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how
                cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added
                forth chief trees but rooms think may.</p>
        </div>
    </div>

</article>


<article class="timeline-entry">

    <div class="timeline-entry-inner">

        <div class="timeline-icon bg-secondary">
            <i class="entypo-suitcase"></i>
        </div>

        <div class="timeline-label">
            <h2><a href="#">Job Meeting</a></h2>

            <p>You have a meeting at <strong>Laborator Office</strong> Today.</p>
        </div>
    </div>

</article>


<article class="timeline-entry">

<div class="timeline-entry-inner">

<div class="timeline-icon bg-info">
    <i class="entypo-location"></i>
</div>

<div class="timeline-label">
<h2><a href="#">Arlind Nushi</a> <span>checked in at</span> <a href="#">Laborator</a></h2>

<blockquote>Great place, feeling like in home.</blockquote>

<div id="sample-checkin" class="map-checkin"
     style="height: 170px; width: 100%; position: relative; background-color: rgb(229, 227, 223); overflow: hidden; -webkit-transform: translateZ(0);">
<div class="gm-style"
     style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;">
<div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;">
    <div style="position: absolute; left: 0px; top: 0px; z-index: 1; width: 100%; cursor: url(http://maps.gstatic.com/mapfiles/openhand_8_8.cur) 8 8, default; -webkit-transform-origin: 0px 0px; -webkit-transform: matrix(1, 0, 0, 1, 0, 0);">
        <div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; width: 100%; z-index: 200;">
            <div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div>
        </div>
        <div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; width: 100%; z-index: 201;">
            <div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div>
            <div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;">
                <div style="position: absolute; left: 0px; top: 0px; z-index: -1;">
                    <div style="position: absolute; left: 0px; top: 0px; z-index: 1;">
                        <div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 72px; top: -176px;">
                            <canvas draggable="false" height="256" width="256"
                                    style="-webkit-user-select: none; position: absolute; left: 0px; top: 0px; height: 256px; width: 256px;"></canvas>
                        </div>
                        <div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 72px; top: 80px;"></div>
                        <div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: -184px; top: -176px;"></div>
                        <div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: -184px; top: 80px;"></div>
                        <div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 328px; top: -176px;"></div>
                        <div style="width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0); position: absolute; left: 328px; top: 80px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; width: 100%; z-index: 202;">
            <div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div>
            <div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div>
            <div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"></div>
        </div>
        <div style="-webkit-transform: translateZ(0); position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;">
            <div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
                <div style="position: absolute; left: 0px; top: 0px; z-index: 1;">
                    <div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 72px; top: -176px;"></div>
                    <div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 72px; top: 80px;"></div>
                    <div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: -184px; top: -176px;"></div>
                    <div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: -184px; top: 80px;"></div>
                    <div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 328px; top: -176px;"></div>
                    <div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 328px; top: 80px;"></div>
                </div>
            </div>
        </div>
        <div style="position: absolute; z-index: 0; left: 0px; top: 0px;">
            <div style="overflow: hidden; width: 431px; height: 170px;"><img
                        src="http://maps.googleapis.com/maps/api/js/StaticMapService.GetMapImage?1m2&1i701363&2i1636267&2e1&3u14&4m2&1u431&2u170&5m4&1e0&5spt-BR&6sus&10b1&token=8503"
                        style="width: 421px; height: 160px;"></div>
        </div>
        <div style="position: absolute; left: 0px; top: 0px; z-index: 0;">
            <div style="position: absolute; left: 0px; top: 0px; z-index: 1;">
                <div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 72px; top: -176px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;">
                    <img src="http://mt0.googleapis.com/vt?lyrs=m@248313357&src=apiv3&hl=pt-BR&x=2740&y=6391&z=14&style=47,37%7Csmartmaps"
                         draggable="false"
                         style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);">
                </div>
                <div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 72px; top: 80px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;">
                    <img src="http://mt0.googleapis.com/vt?lyrs=m@248254527&src=apiv3&hl=pt-BR&x=2740&y=6392&z=14&style=47,37%7Csmartmaps"
                         draggable="false"
                         style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);">
                </div>
                <div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: -184px; top: -176px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;">
                    <img src="http://mt1.googleapis.com/vt?lyrs=m@248282439&src=apiv3&hl=pt-BR&x=2739&y=6391&z=14&style=47,37%7Csmartmaps"
                         draggable="false"
                         style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);">
                </div>
                <div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: -184px; top: 80px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;">
                    <img src="http://mt1.googleapis.com/vt?lyrs=m@248011677&src=apiv3&hl=pt-BR&x=2739&y=6392&z=14&style=47,37%7Csmartmaps"
                         draggable="false"
                         style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);">
                </div>
                <div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 328px; top: -176px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;">
                    <img src="http://mt1.googleapis.com/vt?lyrs=m@248301220&src=apiv3&hl=pt-BR&x=2741&y=6391&z=14&style=47,37%7Csmartmaps"
                         draggable="false"
                         style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);">
                </div>
                <div style="width: 256px; height: 256px; -webkit-transform: translateZ(0); position: absolute; left: 328px; top: 80px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;">
                    <img src="http://mt1.googleapis.com/vt?lyrs=m@248301220&src=apiv3&hl=pt-BR&x=2741&y=6392&z=14&style=47,37%7Csmartmaps"
                         draggable="false"
                         style="width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0);">
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;">
    <a target="_blank"
       href="http://maps.google.com/maps?ll=36.738888,-119.783013&z=14&t=m&hl=pt-BR&gl=US&mapclient=apiv3"
       title="Clique para ver esta área no Google Maps"
       style="position: static; overflow: visible; float: none; display: inline;">
        <div style="width: 62px; height: 26px; cursor: pointer;"><img
                    src="http://maps.gstatic.com/mapfiles/api-3/images/google_white2.png"
                    draggable="false"
                    style="position: absolute; left: 0px; top: 0px; width: 62px; height: 26px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
        </div>
    </a></div>
<div class="gmnoprint"
     style="z-index: 1000001; position: absolute; right: 192px; bottom: 0px; width: 85px;">
    <div draggable="false" class="gm-style-cc" style="-webkit-user-select: none;">
        <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
            <div style="width: 1px;"></div>
            <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
        </div>
        <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right;">
            <a style="color: rgb(68, 68, 68); text-decoration: none; cursor: pointer;">Dados
                do mapa</a><span
                    style="display: none;">Dados cartográficos ©2014 Google</span></div>
    </div>
</div>
<div style="background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 256px; height: 118px; position: absolute; left: 61px; top: 5px;">
    <div style="padding: 0px 0px 10px; font-size: 16px;">Dados do mapa</div>
    <div style="font-size: 13px;">Dados cartográficos ©2014 Google</div>
    <div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;">
        <img src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png"
             draggable="false"
             style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
    </div>
</div>
<div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;">
    <div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">
        Dados cartográficos ©2014 Google
    </div>
</div>
<div class="gmnoprint gm-style-cc" draggable="false"
     style="z-index: 1000001; position: absolute; -webkit-user-select: none; right: 113px; bottom: 0px;">
    <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
        <div style="width: 1px;"></div>
        <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
    </div>
    <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right;">
        <a href="http://www.google.com/intl/pt-BR_US/help/terms_maps.html" target="_blank"
           style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);">Termos de
            Uso</a></div>
</div>
<div draggable="false" class="gm-style-cc"
     style="-webkit-user-select: none; position: absolute; right: 0px; bottom: 0px;">
    <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;">
        <div style="width: 1px;"></div>
        <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div>
    </div>
    <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right;">
        <a target="_new" title="Informar erros no mapa ou nas imagens para o Google"
           href="http://maps.google.com/maps?ll=36.738888,-119.783013&z=14&t=m&hl=pt-BR&gl=US&mapclient=apiv3&skstate=action:mps_dialog$apiref:1&output=classic"
           style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;">Informar
            erro no mapa</a></div>
</div>
<div class="gmnoprint" draggable="false" controlwidth="32" controlheight="84"
     style="margin: 5px; -webkit-user-select: none; position: absolute; left: 0px; top: 0px;">
    <div controlwidth="32" controlheight="40"
         style="cursor: url(http://maps.gstatic.com/mapfiles/openhand_8_8.cur) 8 8, default; position: absolute; left: 0px; top: 0px;">
        <div style="width: 32px; height: 40px; overflow: hidden; position: absolute; left: 0px; top: 0px;">
            <img src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout2.png"
                 draggable="false"
                 style="position: absolute; left: -9px; top: -102px; width: 1028px; height: 214px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
        </div>
        <div style="width: 32px; height: 40px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;">
            <img src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout2.png"
                 draggable="false"
                 style="position: absolute; left: -107px; top: -102px; width: 1028px; height: 214px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
        </div>
        <div style="width: 32px; height: 40px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;">
            <img src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout2.png"
                 draggable="false"
                 style="position: absolute; left: -58px; top: -102px; width: 1028px; height: 214px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
        </div>
        <div style="width: 32px; height: 40px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;">
            <img src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout2.png"
                 draggable="false"
                 style="position: absolute; left: -205px; top: -102px; width: 1028px; height: 214px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
        </div>
    </div>
    <div class="gmnoprint" controlwidth="0" controlheight="0"
         style="opacity: 0.6; display: none; position: absolute;">
        <div title="Girar o mapa em 90 graus"
             style="width: 22px; height: 22px; overflow: hidden; position: absolute; cursor: pointer;">
            <img src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png"
                 draggable="false"
                 style="position: absolute; left: -38px; top: -360px; width: 59px; height: 492px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
        </div>
    </div>
    <div class="gmnoprint" controlwidth="20" controlheight="39"
         style="position: absolute; left: 6px; top: 45px;">
        <div style="width: 20px; height: 39px; overflow: hidden; position: absolute;"><img
                    src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png"
                    draggable="false"
                    style="position: absolute; left: -39px; top: -401px; width: 59px; height: 492px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;">
        </div>
        <div title="Aumentar o zoom"
             style="position: absolute; left: 0px; top: 2px; width: 20px; height: 17px; cursor: pointer;"></div>
        <div title="Diminuir o zoom"
             style="position: absolute; left: 0px; top: 19px; width: 20px; height: 17px; cursor: pointer;"></div>
    </div>
</div>
<div class="gmnoprint"
     style="margin: 5px; z-index: 0; position: absolute; cursor: pointer; right: 0px; top: 0px;">
    <div class="gm-style-mtc" style="float: left;">
        <div draggable="false" title="Mostrar mapa de ruas"
             style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; -webkit-user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 1px 6px; border-bottom-left-radius: 2px; border-top-left-radius: 2px; -webkit-background-clip: padding-box; background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0.14902); -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; min-width: 28px; font-weight: 500;">
            Mapa
        </div>
        <div style="background-color: white; z-index: -1; padding-top: 2px; -webkit-background-clip: padding-box; background-clip: padding-box; border-width: 0px 1px 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: rgba(0, 0, 0, 0.14902); border-bottom-color: rgba(0, 0, 0, 0.14902); border-left-color: rgba(0, 0, 0, 0.14902); -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; position: absolute; left: 0px; top: 19px; text-align: left; display: none;">
            <div draggable="false" title="Mostrar mapa de ruas com terreno"
                 style="color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; -webkit-user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 3px 8px 3px 5px; direction: ltr; text-align: left; white-space: nowrap;">
                                            <span role="checkbox"
                                                  style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-top-left-radius: 1px; border-top-right-radius: 1px; border-bottom-right-radius: 1px; border-bottom-left-radius: 1px; width: 13px; height: 13px; vertical-align: middle;"><div
                                                        style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden; display: none;">
                                                    <img src="http://maps.gstatic.com/mapfiles/mv/imgs8.png"
                                                         draggable="false"
                                                         style="position: absolute; left: -52px; top: -44px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 68px; height: 67px;">
                                                </div></span><label style="vertical-align: middle; cursor: pointer;">Terreno</label>
            </div>
        </div>
    </div>
    <div class="gm-style-mtc" style="float: left;">
        <div draggable="false" title="Mostrar imagens de satélite"
             style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(86, 86, 86); font-family: Roboto, Arial, sans-serif; -webkit-user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 1px 6px; border-bottom-right-radius: 2px; border-top-right-radius: 2px; -webkit-background-clip: padding-box; background-clip: padding-box; border-width: 1px 1px 1px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-top-color: rgba(0, 0, 0, 0.14902); border-right-color: rgba(0, 0, 0, 0.14902); border-bottom-color: rgba(0, 0, 0, 0.14902); -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; min-width: 36px;">
            Satélite
        </div>
        <div style="background-color: white; z-index: -1; padding-top: 2px; -webkit-background-clip: padding-box; background-clip: padding-box; border-width: 0px 1px 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: rgba(0, 0, 0, 0.14902); border-bottom-color: rgba(0, 0, 0, 0.14902); border-left-color: rgba(0, 0, 0, 0.14902); -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; position: absolute; right: 0px; top: 19px; text-align: left; display: none;">
            <div draggable="false" title="Aumentar o zoom para a visualização de 45 graus"
                 style="color: rgb(184, 184, 184); font-family: Roboto, Arial, sans-serif; -webkit-user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 3px 8px 3px 5px; direction: ltr; text-align: left; white-space: nowrap; display: none;">
                                            <span role="checkbox"
                                                  style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(241, 241, 241); border-top-left-radius: 1px; border-top-right-radius: 1px; border-bottom-right-radius: 1px; border-bottom-left-radius: 1px; width: 13px; height: 13px; vertical-align: middle;"><div
                                                        style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden; display: none;">
                                                    <img src="http://maps.gstatic.com/mapfiles/mv/imgs8.png"
                                                         draggable="false"
                                                         style="position: absolute; left: -52px; top: -44px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 68px; height: 67px;">
                                                </div></span><label
                        style="vertical-align: middle; cursor: pointer;">45°</label></div>
            <div draggable="false" title="Mostrar imagens com nomes de rua"
                 style="color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; -webkit-user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 3px 8px 3px 5px; direction: ltr; text-align: left; white-space: nowrap;">
                                            <span role="checkbox"
                                                  style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-top-left-radius: 1px; border-top-right-radius: 1px; border-bottom-right-radius: 1px; border-bottom-left-radius: 1px; width: 13px; height: 13px; vertical-align: middle;"><div
                                                        style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden;">
                                                    <img src="http://maps.gstatic.com/mapfiles/mv/imgs8.png"
                                                         draggable="false"
                                                         style="position: absolute; left: -52px; top: -44px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 68px; height: 67px;">
                                                </div></span><label style="vertical-align: middle; cursor: pointer;">Marcadores</label>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>

</article>


<article class="timeline-entry">

    <div class="timeline-entry-inner">

        <div class="timeline-icon bg-warning">
            <i class="entypo-camera"></i>
        </div>

        <div class="timeline-label">
            <h2><a href="#">Arber Nushi</a> <span>changed his</span> <a href="#">Profile Picture</a></h2>

            <blockquote>Pianoforte principles our unaffected not for astonished travelling are particular.
            </blockquote>

            <img src="http://themes.laborator.co/neon/assets/images/timeline-image-3.png"
                 class="img-responsive img-rounded full-width">
        </div>
    </div>

</article>


<article class="timeline-entry begin">

    <div class="timeline-entry-inner">

        <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
            <i class="entypo-flight"></i> +
        </div>

    </div>

</article>

</div>

</div>
<div class="col-lg-8">
    <form class="form-horizontal" role="form">
        <fieldset>
            <div class="[ col-xs-12  col-sm-12 ]">
                <div class="[ panel panel-default ] panel-google-plus">
                    <div class="dropdown">
                    <span class="dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="[ glyphicon glyphicon-chevron-down ]"></span>
                    </span>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="panel-google-plus-tags">
                        <ul>
                            <li>#Millennials</li>
                            <li>#Generation</li>
                        </ul>
                    </div>
                    <div class="panel-heading">
                        <img class="[ img-circle pull-left ]"
                             src="https://lh3.googleusercontent.com/-CxXg7_7ylq4/AAAAAAAAAAI/AAAAAAAAAQ8/LhCIKQC5Aq4/s46-c-k-no/photo.jpg"
                             alt="Mouse0270"/>

                        <h3>Robert McIntosh</h3>
                        <h5><span>Shared publicly</span> - <span>Jun 27, 2014</span></h5>
                    </div>
                    <div class="panel-body">
                        <p>Do people born in 2000 get to choose if they are Generation Y or Generation Z? How do you
                            decide what generation you want to belong to?</p>
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="[ btn btn-default ]">+1</button>
                        <button type="button" class="[ btn btn-default ]">
                            <span class="[ glyphicon glyphicon-share-alt ]"></span>
                        </button>
                        <div class="input-placeholder">Add a comment...</div>
                    </div>
                    <div class="panel-google-plus-comment">
                        <img class="img-circle" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46"
                             alt="User Image"/>

                        <div class="panel-google-plus-textarea">
                            <textarea rows="4"></textarea>
                            <button type="submit" class="[ btn btn-success disabled ]">Post comment</button>
                            <button type="reset" class="[ btn btn-default ]">Cancel</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>


</div>

<div class="form-group hide">
    <div class="col-sm-offset-2 col-sm-10">
        <div class="pull-right">
            <button type="submit" class="btn btn-primary">Post Your Plan</button>
        </div>
    </div>
</div>

</fieldset>
</form>
</div>

<% } %>

</div>
</div>

</section>

<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Location</h3>

                    <p>2411 N 1st St, San Jose, CA 90210</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>About Founder Butterfly</h3>

                    <p>Founder Butterfly is a open source website created by <a href="#">Ivy Buiness Institute</a>.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Founder Butterfly 2014
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visble-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/cabin.png" class="img-responsive img-centered" alt="">

                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set
                            by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can
                            download their free set with 16 icons, or you can purchase the entire set with 146 icons for
                            only $12!</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/cake.png" class="img-responsive img-centered" alt="">

                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set
                            by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can
                            download their free set with 16 icons, or you can purchase the entire set with 146 icons for
                            only $12!</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/circus.png" class="img-responsive img-centered" alt="">

                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set
                            by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can
                            download their free set with 16 icons, or you can purchase the entire set with 146 icons for
                            only $12!</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/game.png" class="img-responsive img-centered" alt="">

                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set
                            by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can
                            download their free set with 16 icons, or you can purchase the entire set with 146 icons for
                            only $12!</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/safe.png" class="img-responsive img-centered" alt="">

                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set
                            by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can
                            download their free set with 16 icons, or you can purchase the entire set with 146 icons for
                            only $12!</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/submarine.png" class="img-responsive img-centered" alt="">

                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set
                            by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can
                            download their free set with 16 icons, or you can purchase the entire set with 146 icons for
                            only $12!</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery Version 1.11.0 -->
<script src="js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="js/classie.js"></script>
<script src="js/cbpAnimatedHeader.js"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/freelancer.js"></script>

</body>

</html>
