<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Founder Butterfly</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top">Founder Butterfly</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href=".portfolio">Business You Want To Start</a>
                </li>
                <li class="page-scroll">
                    <a href="#about">About</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">


        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Create Your Business Plan</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form class="form-horizontal" role="form">
                    <fieldset>

                        <!-- Form Name -->
                        <legend>Step 2/2: Choose Mentors</legend>

                        <div class="form-group">


                            <div class="col-lg-12">
                                <div class=" ">
                                    <ul class="event-list">
                                        <li>
                                            <div class="tile col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <div class="tile-progress tile-blue text-center">
                                                    <div class="tile-header">
                                                        <h3>Legal</h3><p class="desc">Legal</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <img alt="Legal" class="hide"
                                                 src="img/legal.png"/>

                                            <div class="info">

                                                <div class="col-lg-12">
                                                    <%for (var i=0; i<mentors[0].length; i++) {%>
                                                    <div class="person-text rel col-lg-4">
                                                        <img src="<%=mentors[0][i].picURL%>"/>
                                                        <a title="" href="#"><%=mentors[0][i].firstName%> <%=mentors[0][i].lastName%></a>
                                                        <div class="col-xs-12 col-sm-12">

                                                            <p><%=mentors[0][i].industry%></p>
                                                            <p>
                                                                <%for (var j=0; j<mentors[0][i].skills.length;j++) {
                                                                if(j <= 5) {%>
                                                                <span class="tags"><%=mentors[0][i].skills[j]%></span>
                                                                <% } } %>
                                                            </p>
                                                            <button type="button" class="btn btn-xs btn-primary btn-radio active">Select</button>
                                                            <input type="checkbox" id="left-item" class="hidden">
                                                        </div>
                                                    </div>
                                                    <%}%>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="tile col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <div class="tile-progress tile-blue text-center">
                                                    <div class="tile-header">
                                                        <h3>Financial</h3><p class="desc">Financial</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <img alt="Financial" class="hide"
                                                 src="img/financial.png"/>

                                            <div class="info">

                                                <div class="col-lg-12">
                                                    <%for (var i=0; i<mentors[1].length; i++){
                                                            if(i < 3) {%>
                                                    <div class="person-text rel col-lg-4">
                                                        <img src="<%=mentors[1][i].picURL%>"/>
                                                        <a title="" href="#"><%=mentors[1][i].firstName%> <%=mentors[1][i].lastName%></a>
                                                        <div class="col-xs-12 col-sm-12">

                                                            <p><%=mentors[1][i].industry%></p>
                                                            <p>
                                                                <%for (var j=0; j<mentors[1][i].skills.length;j++) {
                                                                        if(j <= 5) {%>
                                                                <span class="tags"><%=mentors[1][i].skills[j]%></span>
                                                                <% } } %>
                                                            </p>
                                                            <button type="button" class="btn btn-xs btn-primary btn-radio active">Select</button>
                                                            <input type="checkbox" id="left-item" class="hidden">
                                                        </div>
                                                    </div>
                                                    <%}}%>
                                                </div>
                                            </div>

                                        </li>

                                        <li>
                                            <div class="tile col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <div class="tile-progress tile-blue text-center">
                                                    <div class="tile-header">
                                                        <h3>Marketing</h3><p class="desc">Marketing</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <img alt="Marketing"  class="hide"
                                                 src="img/marketing.png"/>

                                            <div class="info">

                                                <div class="col-lg-12">
                                                    <%for (var i=0; i<mentors[2].length; i++) {
                                                            if(i < 3) {%>
                                                    <div class="person-text rel col-lg-4">
                                                        <img src="<%=mentors[2][i].picURL%>"/>
                                                        <a title="" href="#"><%=mentors[2][i].firstName%> <%=mentors[2][i].lastName%></a>
                                                        <div class="col-xs-12 col-sm-12">

                                                            <p><%=mentors[2][i].industry%></p>
                                                            <p>
                                                                <%for (var j=0; j<mentors[2][i].skills.length;j++) {
                                                                        if(j <= 5) {%>
                                                                <span class="tags"><%=mentors[2][i].skills[j]%></span>
                                                                <% } } %>
                                                            </p>
                                                            <button type="button" class="btn btn-xs btn-primary btn-radio active">Select</button>
                                                            <input type="checkbox" id="left-item" class="hidden">
                                                        </div>
                                                    </div>
                                                    <%} }%>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="tile col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <div class="tile-progress tile-blue text-center">
                                                    <div class="tile-header">
                                                        <h3>Technical</h3><p class="desc">Technical</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <img alt="Technical" class="hide"
                                                 src="img/technical.png"/>

                                            <div class="info">

                                                <div class="col-lg-12">
                                                    <%for (var i=0; i<mentors[3].length; i++) {
                                                            if(i < 3) {%>
                                                    <div class="person-text rel col-lg-4">
                                                        <img src="<%=mentors[3][i].picURL%>"/>
                                                        <a title="" href="#"><%=mentors[3][i].firstName%> <%=mentors[3][i].lastName%></a>
                                                        <div class="col-xs-12 col-sm-12">

                                                            <p><%=mentors[3][i].industry%></p>
                                                            <p>
                                                                <%for (var j=0; j<mentors[3][i].skills.length;j++) {
                                                                        if(j <= 5) {%>
                                                                <span class="tags"><%=mentors[3][i].skills[j]%></span>
                                                                <% } } %>
                                                            </p>
                                                            <button type="button" class="btn btn-xs btn-primary btn-radio active">Select</button>
                                                            <input type="checkbox" id="left-item" class="hidden">
                                                        </div>
                                                    </div>
                                                    <%} }%>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="pull-right">
                                    <a href="dashboard" type="submit" class="btn btn-primary">Finish</a>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>

</section>

<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Location</h3>

                    <p>2411 N 1st St, San Jose, CA 90210</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>About Founder Butterfly</h3>

                    <p>Founder Butterfly is a open source website created by <a href="#">Ivy Buiness Institute</a>.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Founder Butterfly 2014
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visble-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/cabin.png" class="img-responsive img-centered" alt="">

                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set
                            by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can
                            download their free set with 16 icons, or you can purchase the entire set with 146 icons for
                            only $12!</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/cake.png" class="img-responsive img-centered" alt="">

                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set
                            by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can
                            download their free set with 16 icons, or you can purchase the entire set with 146 icons for
                            only $12!</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/circus.png" class="img-responsive img-centered" alt="">

                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set
                            by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can
                            download their free set with 16 icons, or you can purchase the entire set with 146 icons for
                            only $12!</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/game.png" class="img-responsive img-centered" alt="">

                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set
                            by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can
                            download their free set with 16 icons, or you can purchase the entire set with 146 icons for
                            only $12!</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/safe.png" class="img-responsive img-centered" alt="">

                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set
                            by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can
                            download their free set with 16 icons, or you can purchase the entire set with 146 icons for
                            only $12!</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/submarine.png" class="img-responsive img-centered" alt="">

                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set
                            by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can
                            download their free set with 16 icons, or you can purchase the entire set with 146 icons for
                            only $12!</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery Version 1.11.0 -->
<script src="js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="js/classie.js"></script>
<script src="js/cbpAnimatedHeader.js"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/freelancer.js"></script>

<script>
    $(function () {
        $('.btn-radio').click(function(e) {
            $('.btn-radio').not(this)
                    .siblings('input').prop('checked',false)
                    .siblings('.btn-radio').removeClass('btn-success');
            $(this)
                    .siblings('input').prop('checked',true)
                    .siblings('.btn-radio').addClass('btn-success');
        });
    });
</script>

</body>

</html>
